Ref : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing#

#### Input variables:
   
   ##### bank client data:
   1. age (numeric)
   2. job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student","blue-collar","self-employed","retired","technician","services") 
   3. marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
   4. education (categorical: "unknown","secondary","primary","tertiary")
   5. default: has credit in default? (binary: "yes","no")
   6. balance: average yearly balance, in euros (numeric) 
   7. housing: has housing loan? (binary: "yes","no")
   8. loan: has personal loan? (binary: "yes","no")
   9. contact : contact communication type (categorical: "unknown","telephone","cellular") 
   10. day : last contact day of the month (numeric)
   11. month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
   12. duration: last contact duration, in seconds (numeric)
   13. campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
   14. pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
   15. previous: number of contacts performed before this campaign and for this client (numeric)
   16. poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

  Output variable (desired target):
   17. y - has the client subscribed a term deposit? (binary: "yes","no")

In [1]:
#standard lib

# modules for data analysis
import numpy as np
import pandas as pd

#modules for preprocessing and machine learning
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from scipy.stats import pearsonr

# modules for visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#for producing consistent results when used random function
SEED = 13

In [2]:
bank_data = pd.read_csv('bank.csv',delimiter=';')
print('Data shape : rows: %s, cols : %s'% bank_data.shape)

Data shape : rows: 4521, cols : 17

In [3]:
bank_data.sample(4)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2249,49,unemployed,divorced,tertiary,no,780,no,no,cellular,8,nov,148,1,871,2,failure,no
4131,34,management,married,tertiary,no,4831,yes,no,cellular,4,feb,265,1,-1,0,unknown,no
4230,37,management,married,tertiary,no,4039,no,yes,cellular,25,jul,106,2,-1,0,unknown,no
768,55,admin.,married,primary,no,343,yes,no,cellular,14,jul,276,3,-1,0,unknown,no

### Dependent Variable - y

In [6]:
bank_data['y'].value_counts()

no     4000
yes     521
Name: y, dtype: int64

In [ ]:
var_dict = {1: "", 2: "B"}